.card .card-content{
    height:6rem;
    font-size: 1.3rem;
}

.card .card-image img{
    height: 15rem;
}

.btn{
    margin-left:0.1rem;
    font-weight:600;    
}

.form-content{
    background-color: #ecedf1;
    padding-top: 4rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: all 3s;
}